<h3>Valute</h3>
<p ngNonBindable>{{ amount | currency:"CAD" }}</p>
<p>{{ amount | currency:"CAD" }}</p>

<p ngNonBindable>{{ amount | currency:"CAD":code }}</p>
<p>{{ amount | currency:'CAD':'code' }}</p>
<p ngNonBindable>{{ amount | currency:'CAD':'symbol' }}</p>
<p>{{ amount | currency:'CAD':'symbol' }}</p>
<p ngNonBindable>{{ amount | currency:'CAD':'symbol-narrow' }}</p>
<p>{{ amount | currency:'CAD':'symbol-narrow' }}</p>

<h3>Datumi</h3>
<p ngNonBindable>{{ datum | date:"shortTime" }}</p>
<p>{{ datum | date:"shortTime" }}</p>
<p ngNonBindable>{{ datum | date:"fullDate" }}</p>
<p>{{ datum | date:"fullDate" }}</p>
<p ngNonBindable>{{ datum | date:"d. M. y" }}</p>
<p>{{ datum | date:"d. M. y" }}</p>

<h3>Decimalni</h3>
<p ngNonBindable>{{ 3.14159265 | number: '3.1-2' }}</p>
<p>{{ 3.14159265 | number: '3.1-2' }}</p>
<p ngNonBindable>{{ 3.14159265 | number: '1.4-4' }}</p>
<p>{{ 3.14159265 | number: '1.4-4' }}</p>

<h3>Nizovi</h3>
<p ngNonBindable>{{ [1,2,3,4,5,6] | slice:1:3 }}</p>
<p>{{ [1,2,3,4,5,6] | slice:1:3 }}</p>
<p ngNonBindable>{{ [1,2,3,4,5,6] | slice:2 }}</p>
<p>{{ [1,2,3,4,5,6] | slice:2 }}</p>
<p ngNonBindable>{{ [1,2,3,4,5,6] | slice:2:-1 }}</p>
<p>{{ [1,2,3,4,5,6] | slice:2:-1 }}</p>
